
body{
    background-image:url('https://myueqf.top/img/Xero-Plasma44.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    }
