body{
    background-image:url('https://myueqf.top/img/genshin_impact_nahida_1920x1080.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    }
