body{
    background-image:url('http://llovefurina.top/video/bg.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    }
