@font-face {
    font-family: 'AaCute';
    src: url('../font/AaCute.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'AaCute', sans-serif;
}

/* Custom scrollbar for a cleaner look */
textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-track {
    background: #2d3748; /* bg-gray-800 */
}
textarea::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* bg-gray-600 */
    border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* bg-gray-500 */
}
.btn-primary {
    @apply bg-indigo-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-75 transition duration-300 ease-in-out transform hover:-translate-y-0.5;
}
.btn-secondary {
    @apply bg-gray-600 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-75 transition duration-300 ease-in-out;
} 
